@use "../vars/vars" as v;
@use "../mixins/ui-mixins" as m;

* {
  outline: none;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
}

body {
  min-width: 300px;
  display: flex;
  height: auto;
  font-family: v.$ff-m;
  font-size: v.$fs-md;
  line-height: v.$lh;
  color: v.$black;
  background-color: v.$light;

  @include m.minimal-scrollbar()
}

h1,h2,h3,h4,h5,h6,ul,ol,p,form,fieldset,
input,textarea,select,button {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto
}

ul, ol {
  list-style: none;
}

form,
fieldset {
  border: 0;
}

input,
button,
a,
textarea {
  &:focus-visible {
    outline: 2px solid v.$black;
    outline-offset: 2px;
  }
}

a {
  text-decoration: none;
  cursor:  pointer;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  overflow: hidden;
}