@use '../vars/vars' as v;

%naked-button {
  display: flex;
  align-items: center;
  justify-content:  center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  cursor:  pointer;
}