@use "../vars/vars" as v;

@mixin minimal-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  @media(min-width: v.$lg) {
    scrollbar-width: thin;
    scrollbar-color: v.$black transparent;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: v.$black;
    }

    &::-webkit-scrollbar-thumb {
      background: v.$white;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: v.$white;
    }
  }
}

@mixin hiddenXScroll() {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}