$container-width: 1206px;
$container-padding: 16px;
$container-max-width: $container-width + ($container-padding * 2);

.container {
  width: 100%;
  max-width: $container-max-width;
  padding: 0 $container-padding;
  margin: 0 auto;
}