//Primary group
$primary  : #E86C00;
$primary90: rgba(232, 108, 0, 0.90);
$primary80: rgba(232, 108, 0, 0.80);
$primary70: rgba(232, 108, 0, 0.70);
$primary60: rgba(232, 108, 0, 0.60);
$primary50: rgba(232, 108, 0, 0.50);
$primary40: rgba(232, 108, 0, 0.40);
$primary30: rgba(232, 108, 0, 0.30);
$primary20: rgba(232, 108, 0, 0.20);
$primary10: rgba(232, 108, 0, 0.10);
//Secondary group
$secondary: #FDCC4A;
$secondary90: rgba(253, 204, 74, 0.90);
$secondary80: rgba(253, 204, 74, 0.80);
$secondary70: rgba(253, 204, 74, 0.70);
$secondary60: rgba(253, 204, 74, 0.60);
$secondary50: rgba(253, 204, 74, 0.50);
$secondary40: rgba(253, 204, 74, 0.40);
$secondary30: rgba(253, 204, 74, 0.30);
$secondary20: rgba(253, 204, 74, 0.20);
$secondary10: rgba(253, 204, 74, 0.10);
//Neutral
$black   : #09101D;
$neutral1: #2C3A4B;
$neutral2: #394452;
$neutral3: #545D69;
$neutral4: #6D7580;
$neutral5: #858C94;
$neutral6: #A5ABB3;
$neutral7: #DADEE3;
$neutral8: #EBEEF2;
$neutral9: #F4F7FA;
$light   : #FCFAF7;
$white   : #FFFFFF;
//Accent
$accent1 : #ECB2F2;
$accent2 : #2D6A6A;
$accent3 : #E9AD8C;
$accent4 : #221874;
$accent5 : #7CC6D6;
$accent6 : #E1604D;
