@use '../../vars/vars' as v;

// === PLACEHOLDERS === //

%pBase {
  font-family: v.$ff-os;
}

// === lg ===
%pLg {
  @extend %pBase;
  font-size: 20px;
  line-height: 140%;

  @media (min-width: v.$ms) {
    font-size: 21px;
    line-height: 152%;
  }

  @media (min-width: v.$xl) {
    font-size: 23px;
    line-height: 156px;
  }
}

// === base ===
%pBaseLight {
  @extend %pBase;
  font-size: 16px;
  line-height: 150%;
}

%pBaseRegular {
  @extend %pBase;
  font-size: 16px;
  line-height: 150%;
}

%pBaseHeavy {
  @extend %pBase;
  font-size: 14px;
  line-height: 142%;
}

// === small ===
%pSmall {
  @extend %pBase;
  font-size: 12px;
  line-height: 150%;
}

// === xs ===
%pXs {
  @extend %pBase;
  font-size: 11px;
  line-height: 145%;
}

%pXsAlt {
  @extend %pBase;
  font-size: 11px;
  line-height: 160%;
}

// === tiny ===
%pTiny {
  @extend %pBase;
  font-size: 9px;
  line-height: 133%;
}

// === MAIN MIXIN === //
// @include paragraph('lg', 'heavy')
@mixin paragraph($size, $weight) {
  // === size logic ===
  @if $size == 'lg' {
    @extend %pLg;

  } @else if $size == 'base' {
    @if $weight == 'light' {
      @extend %pBaseLight;
    } @else if $weight == 'regular' {
      @extend %pBaseRegular;
    } @else if $weight == 'heavy' {
      @extend %pBaseHeavy;
    } @else {
      @extend %pBaseRegular;
    }

  } @else if $size == 'small' {
    @extend %pSmall;

  } @else if $size == 'xs' {
    @if $weight == 'regular' {
      @extend %pXsAlt;
    } @else {
      @extend %pXs;
    }

  } @else if $size == 'tiny' {
    @extend %pTiny;

  } @else {
    @warn "Unknown paragraph size: #{$size}.";
  }

  // === weight logic ===
  @if $size == 'base' and $weight == 'heavy' {
    font-weight: v.$fw-medium;
  } @else if $weight == 'light' {
    font-weight: v.$fw-thin;
  } @else if $weight == 'regular' {
    font-weight: v.$fw-regular;
  } @else if $weight == 'heavy' {
    font-weight: v.$fw-semibold;
  } @else if $weight == 'medium' {
    font-weight: v.$fw-medium;
  } @else {
    @warn "Unknown weight: #{$weight}.";
  }
}